
<mat-toolbar color="primary">
  <span style="float:left"><img src="../assets/image.png" style="height: 150px; width: 200px;"></span>

  <span><h2>Admin DashBoard</h2></span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>

</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter Names">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!-- ng update @angular/cli @angular/core -->
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.requestId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"><img [src]="row.consumer.profilePictureUrl" style="border-radius: 75%; width:50px; height: 50px; padding: 10px; "/>{{row.consumer.consumerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Appliance Name"> 
      <mat-header-cell *matHeaderCellDef mat-sort-header>ApplianceName</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appliance.applianceName}}
        <button mat-icon-button color="accent" (click)="startEdit(i, row.requestId)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="AppointmentDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AppointmentDateTime</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appointmentDateTime}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell> 
       <mat-cell *matCellDef="let row; let i=index;">
        <!-- <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.name,  row.deviceName, row.policy)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button> -->
        <div style="text-align:center">
        <button mat-raised-button color="primary" (click)="ConnectToYelp(i, row.requestId)">
           Assign
          </button>
        </div>
      </mat-cell>
    </ng-container> 


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
